#containercolor{
 background-color:#ced4da;
}

#button {
    background-color: #1939a0;
    border: 0;
    font-size: 100%;
    width:30%;
   margin-left: 35%;
  }


  .chart-container{
      padding: 25px;
      text-align: center;
  }