#button {
    background-color: #1939a0;
    border: 0;
    font-size: 100%;
    width:100%;
    
  }
  #button_2 {
    border: 0;
    font-size: 100%;
    width:100%;
  }

  #black {
    color: black;
    display: inline;
    font-size: 150%;
    font-weight: bold;
    padding-top: 2rem;
  }
  
  #heading {
    display: inline;
    font-size: 150%;
    font-weight: bold;
    color: #525f7f;
    padding-top: 2rem;
  
  }