.navbar {
  background-color: #172b4d;
}

.logo{
  font-size: 2rem;
}
.nav-item:hover {
  background-color: #223b68af;
}

.navbar-toggler {
  color: white;
}

.nav-link{
  color: white;
}

.nav-item{
  vertical-align: middle;
  cursor: pointer;
  border-radius: 10px;
}