<div class="container-fluid pb-4" id="cardBodyColor">
        <div class="container-fluid py-4">
            <h1 id="heading" class="mb-0 heading pt-4">COMPANY</h1>
            <h1 id="black" class="mb-0 heading pt-4"> LIST</h1>
           
          </div>
      <div class="card" id="list-company_card">
        <div class="card-header border-0">
          <div class="row">
            <div class="col-auto mr-auto">
              <h3 class="mb-0">Company </h3>
            </div>
          
    
          </div>
        </div>
        <!-- Light table -->
        <div class="table-responsive">
          <table class="table table-flush align-items-center">
            <thead class="thead-light">
              <tr>
                <th>Name</th>
                <th>CEO</th>
                <th>Listed In Stock Exchange</th>
                <th>Sector ID</th>
                <th>Turnover</th>
              </tr>
            </thead>
          
            <tbody>
              <tr *ngFor="let company of companies">
                 <td>
                  <span class="text-muted">{{company.companyName}}</span>
                </td>
                <td>
                  <span class="text-muted">{{company.ceoName}}</span>
                </td>
                <td>
                  <span *ngIf="company.listedInStockExchanges" class="text-muted">Yes</span>
                  <span *ngIf="!company.listedInStockExchanges" class="text-muted">No</span>
    
                </td>
                <td>
                  <span class="text-muted">{{company.sector.sectorName}}</span>
                </td>
                <td>
                  <span class="text-muted">{{company.turnover | currency:"INR"}}</span>
                </td>
                 
              </tr>
            </tbody>
        
          </table>
        </div>
      </div>
    </div>
    